@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* 스크롤바 제거 */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/main_tree.jpg'); /* 배경 이미지 URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: moveBackground 30s linear infinite;
}


@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* 컨텐츠 스타일 */
.container {
    position: relative;
    color: #fff; /* 텍스트 색상 */
    text-align: center;
    padding: 250px;
    
    
}
.logo img {
    max-width: 150px;
}
.message {
    font-size: 18px;
    margin-bottom: 20px;
}
.loading-text {
    font-size: 24px;
    font-weight: bold;
}
.footer {
    margin-top: 20px;
    font-size: 14px;
}

#gobutton{
	padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: #fff;
    background-color: rgb(236, 119, 59);
    border-color: rgb(221, 173, 130);
}

#gobutton:hover { 
    background-color: #0056b3;
    border-color: #004085;
    text-decoration: none;
}