<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="foodreviewSQL">
	<resultMap id="foodreviewResultMap" type="foodreview.bean.FoodreviewDTO">
	    <result property="seq" column="SEQ"/>
	    <result property="reviewid" column="REVIEWID"/>
	    <result property="reviewname" column="REVIEWNAME"/>
	    <result property="subject" column="SUBJECT"/>
	     <result property="content" column="CONTENT"/>
	    <result property="ref" column="REF"/>
	    <result property="step" column="STEP"/>
	    <result property="grade" column="GRADE"/>
	    <result property="likes" column="LIKES"/>
	    <result property="hit" column="HIT"/>
	</resultMap>
	
	<resultMap id="reviewboardReplyDTO" type="foodreview.replybean.ReviewboardReplyDTO">
	    <result property="seq" column="SEQ" />
	    <result property="replyid" column="REPLYID" />
	    <result property="replycontent" column="REPLYCONTENT" />
	    <result property="ref" column="REF" />
	    <result property="step" column="STEP" />
	    <result property="likes" column="LIKES" />
	</resultMap>
	
	<insert id="foodreviewWrite" parameterType="foodreview">
		insert into odigafoodreview (seq, reviewid, reviewname, subject, content, ref, grade, image1, logtime)
		values(seq_imageboard.nextval, 
			   #{reviewid}, 
			   #{reviewname}, 
			   #{subject}, 
			   #{content}, 
			   seq_imageboard.nextval, 
			   #{grade},
			   #{image1}, 
			   sysdate)
	</insert>
	
	<select id="getTotal" resultType="int">
		select count(*) from odigafoodreview
	</select>
	
	<select id="select" parameterType="foodreview" resultMap="foodreviewResultMap">
		SELECT seq, reviewid, reviewname, subject, content, ref, grade, image1, hit, likes
	    FROM (
	        SELECT rownum rn, tt.* 
	        FROM (SELECT * FROM odigafoodreview ORDER BY seq DESC) tt
	    )
	    WHERE rn BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<update id="ContentHit" parameterType="foodreview">
		update odigafoodreview set hit=hit+1 where seq = #{seq}
	</update>
	
	<select id="contentSelect" parameterType="foodreview" resultMap="foodreviewResultMap">
		select * from odigafoodreview where seq = #{seq}
	</select>
	
	<update id="reviewReport" parameterType="member">
		update odigamember set report_count=report_count+1 where id = #{id}
	</update>
	
	<update id="reviewLike" parameterType="foodreview">
		update odigafoodreview set likes=likes+1 where seq = #{seq}
	</update>
	
	<delete id="reviewDelete" parameterType="foodreview">
		delete odigafoodreview where seq = #{seq}
	</delete>
	
	<update id="reviewUpdate" parameterType="foodreview">
		update odigafoodreview set subject=#{subject}, content=#{content}, grade=#{grade}, image1=#{image1}, logtime=sysdate where seq=#{seq}
	</update>
	
	<!-- 검색 및 페이징 쿼리 -->
    <select id="searchFoodReviews" parameterType="map" resultType="foodreview.bean.FoodreviewDTO">
        <![CDATA[
        SELECT * 
        FROM (
            SELECT f.*, ROWNUM AS rnum 
            FROM (
                SELECT * 
                FROM odigafoodreview 
                WHERE content LIKE '%' || #{searchTerm} || '%' 
                   OR subject LIKE '%' || #{searchTerm} || '%' 
                ORDER BY logtime DESC
            ) f
            WHERE ROWNUM <= #{endNum}
        ) 
        WHERE rnum > #{startNum}
        ]]>
    </select>

    <select id="getTotalBySearchTerm" parameterType="string" resultType="int">
        <![CDATA[
        SELECT COUNT(*) 
        FROM odigafoodreview 
        WHERE content LIKE '%' || #{searchTerm} || '%' 
           OR subject LIKE '%' || #{searchTerm} || '%'
        ]]>
    </select>

    <select id="searchFoodReviewsByTitle" parameterType="map" resultType="foodreview.bean.FoodreviewDTO">
        <![CDATA[
        SELECT * 
        FROM (
            SELECT f.*, ROWNUM AS rnum 
            FROM (
                SELECT * 
                FROM odigafoodreview 
                WHERE subject LIKE '%' || #{searchTerm} || '%' 
                ORDER BY logtime DESC
            ) f
            WHERE ROWNUM <= #{endNum}
        ) 
        WHERE rnum > #{startNum}
        ]]>
    </select>

    <select id="getTotalByTitle" parameterType="string" resultType="int">
        <![CDATA[
        SELECT COUNT(*) 
        FROM odigafoodreview 
        WHERE subject LIKE '%' || #{searchTerm} || '%'
        ]]>
    </select>

    <select id="searchFoodReviewsByContent" parameterType="map" resultType="foodreview.bean.FoodreviewDTO">
        <![CDATA[
        SELECT * 
        FROM (
            SELECT f.*, ROWNUM AS rnum 
            FROM (
                SELECT * 
                FROM odigafoodreview 
                WHERE content LIKE '%' || #{searchTerm} || '%' 
                ORDER BY logtime DESC
            ) f
            WHERE ROWNUM <= #{endNum}
        ) 
        WHERE rnum > #{startNum}
        ]]>
    </select>

    <select id="getTotalByContent" parameterType="string" resultType="int">
        <![CDATA[
        SELECT COUNT(*) 
        FROM odigafoodreview 
        WHERE content LIKE '%' || #{searchTerm} || '%'
        ]]>
    </select>
	
	<!-- 댓글 부분 -->
	<insert id="replyInsert" parameterType="foodreview.replybean.ReviewboardReplyDTO">
		insert into odigareviewreply (seq, replyid, replycontent, ref, logtime)
		values(odigareviewreply_seq.nextval, 
			   #{replyid}, 
			   #{replycontent}, 
			   #{ref},
			   sysdate)
	</insert>
	
	<select id="getReplies" parameterType="int" resultMap="reviewboardReplyDTO">
		select * from odigareviewreply where ref = #{seq} ORDER BY seq ASC
	</select>
	
	<update id="reviewReplyLike" parameterType="foodreview.replybean.ReviewboardReplyDTO">
		update odigareviewreply set likes=likes+1 where seq = #{seq}
	</update>
	
	<delete id="reviewReplyDelete" parameterType="foodreview.replybean.ReviewboardReplyDTO">
		delete odigareviewreply where seq = #{seq}
	</delete>
	<!-- 댓글 끝 -->
	
</mapper>